body{
    font-family:   PingFangSC, PingFangSC-Regular, 'Microsoft YaHei', 微软雅黑,
    STXihei, 华文细黑, Georgia, 'Times New Roman', serif;
}
/*自定义CSS样式*/
.JColResizer td a:hover{
    text-decoration: none;
}
.styleSelect .table th img.image_picker_image, .jsgrid .jsgrid-table th img.image_picker_image, .table td img.image_picker_image, .jsgrid .jsgrid-table td img.image_picker_image{
    width: 100px !important;
    height: 100px !important;
    border-radius:0px !important;
}
/*修改滚动条样式*/
body::-webkit-scrollbar{
    width:10px;
    height:10px;
    /**/
}
body::-webkit-scrollbar-track{
    background: rgb(239, 239, 239);
    border-radius:2px;
}
body::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: #333;
}
body::-webkit-scrollbar-corner{
    background: #179a16;
}
.btn i{
    margin-right: 0px;
}