Allow from all
RewriteEngine on

RewriteRule index.html index.php?r=cms-frontend/default/index

RewriteRule ^(.*)-(.*)-(.*).html$ index.php?r=cms-frontend/default/index&pagePath=$1&arg1=$2&arg2=$3
RewriteRule ^(.*)-(.*).html$ index.php?r=cms-frontend/default/index&pagePath=$1&arg1=$2
RewriteRule ^(.*).html$ index.php?r=cms-frontend/default/index&pagePath=$1







